/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #__next {
  height: 100%;
  background-color: black;
  color: #ffd700; /* Gold */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-y: scroll;
}

/* Remove white outlines from inputs and buttons on focus */
input:focus, button:focus {
  outline: none;
}

